
.btn-group {
    width: 100%;
    height:fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1em;
    font-family: var(--base-font);
    font-size: 1rem;
}
.btn-style {
    background-color: var(--primary-solid);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 3px;
    color: var(--light-font-solid);
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    position: fixed;
    right: 20px;
    bottom: 25px;
    
}
.btn-lock {
    display: none;
    height: fit-content;
    background: Lightblue;
}

.btn-blue {
    background-color: var( --blue-button);
    color: white;
    font-family: var(--base-font);
}

.btn-uncript {
    border: 1px var( --blue-button) solid;
    font-family: var(--base-font);
    color: var( --blue-button);
}


@media (min-width: 768px) and (max-width: 1439px)   {
    .btn-group {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .form-textarea {
        border: none;
        font-family: var(--base-font);
        font-weight: 500;
        font-size: 2rem;
        color: var(--blue-button);
        text-align: start;
    }
}
@media (min-width: 1440px)   {
    .btn-alone {
        height: fit-content;
        align-self: center;
    }
    .btn-group {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .form-textarea {
        border: none;
        font-family: var(--base-font);
        font-weight: 500;
        font-size: 2rem;
        color: var(--blue-button);
        text-align: center;
        margin: auto;
    }
    .btn-lock {
        text-align: center;
        display: none;
        height: fit-content;
        background: Lightblue;
    }
}

