.card {
    width: 100%;
    height: 635px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.card-footer {
    overflow: scroll;
    scrollbar-width: none;

}

.card-title {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--base-font);
    text-align: center;
}
.card-text {
    
    font-family: var(--base-font);
    text-align: center;
    color: var(--dark-bg-solid);
    overflow-wrap:break-word ;
}