@media screen and (max-width: 1439px) {
    .container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-row{
        width: 95%;
        padding: 1rem;
        margin: 1.5rem;    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-aside {
        width: 95%;
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .img-lock {
        display: none;
        align-items: stretch;
    }
    .img-lockTo {
        display: none;
        align-items: stretch;
    }
    .container-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .form-textarea {
        border: none;
        font-family: var(--base-font);
        font-weight: 500;
        color: var(--blue-button);
        text-align: center;
    }
}



@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    .container-row{
        width: 70%;
        height: 100%;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-aside {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
    .img-lockTo {
        display: none;
        align-items: stretch;
    }
    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-textarea  {
        border: none;
        font-family: var(--base-font);
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--blue-button);
        padding: 25px;
    }
}