.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    margin: 1rem;
    padding-left: 14px;
    padding-bottom:14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.navbar-title {
    font-size: 4rem;
    color: var(--blue-button);
    font-weight: 500;
    font-family: var(--title-font);
}

